@import "~bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 10px;
    font-size: 10px;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

.title-col {
    border: 1px solid #000; 
    text-align: center;
    & h3 {
        color: blue;
        margin: 0;
    }
    
}
