@import "~bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
$navbar-color: #2e2e2e;

* {
    margin: 0;
    padding: 0;
    border: none !important;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Opens Sans", Roboto, sans-serif;
    font-weight: 700;
}
.navbar-left {
    img {
        height: 3.6rem;
        width: 12rem;
    }
}



ul {
    list-style-type: none;
    li {
        display: inline-block;

        a {
            font-size: 1.4rem;
            color: $navbar-color;
            padding: 2rem;
            text-decoration: none;
        }
    }
}

.navbar__register {
    padding: 0.7rem 2rem;
    font-size: 1.75rem;
}

.navbar__bordered {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.bg-main {
    height: 0.5rem;
    padding: 0;
}

.bg-main-1 {
    background-color: #f5bf00;
}

.bg-main-2 {
    background-color: #e88800;
}

.bg-main-3 {
    background-color: #e10337;
}

.bg-main-4 {
    background-color: #ba0263;
}

.bg-main-5 {
    background-color: #873f95;
}

.bg-main-6 {
    background-color: #3c70b3;
}

.bg-main-7 {
    background-color: #04ac80;
}

.bg-main-8 {
    background-color: #88c15f;
}

p {
    font-size: 2rem;
    border: 1px solid #000;
    text-align: center;
}
.title-col {
    border: 1px solid #000;
    text-align: center;
    & h3 {
        color: rgb(19, 73, 14);
        margin: 0;
    }
}

.main-content__header {
    padding: 2rem;
}