@import '~bootstrap';


html {
    padding: 10px;
}

button {
    background-color: aquamarine;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    &.mt-4 {
        background-color: rgb(189, 176, 142);
        padding: 3px 5px;
    }
}

table {
    border: 2px solid rgb(180, 42, 42);
    padding: 4px 5px;
    border-collapse: collapse;
    caption-side: top;
    th {
        text-transform: uppercase;
    }
    
    th,td,caption{
        border: 1px solid #000;
        text-align: center;
    }
}

